<table border>
	<thead>
		<tr>
			<th colspan=7>
				{{sum}} /
				<input type="number" [(ngModel)]="max" (change)="update()">
			</th>
		</tr>
		<tr>
			<th colspan=2>
				{{remaining}} Remaining
			</th>
			<th>
				1st
			</th>
			<th>
				2nd
			</th>
			<th>
				3rd
			</th>
			<th>
				4th
			</th>
			<th>
				5th
			</th>

		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let row of rows">
			<td>
				<input type="number" [(ngModel)]="row.points" (change)="update()">
			</td>
			<td>
			</td>
			<td>
				{{row.toFirst}}
			</td>
			<td>
				{{row.toSecond}}
			</td>
			<td>
				{{row.toThird}}
			</td>
			<td>
				{{row.toFourth}}
			</td>
			<td>
				{{row.toFifth}}
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan=7>
				<input type=button (click)="addRow()" value="Add row">
			</td>
		</tr>
	</tfoot>
</table>
