table{
	text-align: center;
	color: white;
	border: 5px solid maroon;
}
td,th{
	box-sizing: border-box;
	min-width: 25px;
	min-height: 25px;
}
.row td:nth-child(n+3){
	border: 1px solid grey;
}
td:nth-child(n+3){
	width: 25px;
	height: 25px;
}
.medal{
	width: 25px;
	height: 25px;
}
.medal:after{
	color: black;
	font-weight: bold;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	display: block;
	border: 2px solid black;
	border-radius: 50%;
}
tbody tr:nth-child(1) .medal:after{
	content: "1";
	background: gold;
}
tbody tr:nth-child(2) .medal:after{
	content: "2";
	background: silver;
}
tbody tr:nth-child(3) .medal:after{
	content: "3";
	background: #cc8833;
}
tbody tr:nth-child(4) .medal:after{
	content: "4";
	background: #aa6611;
}
tbody tr:nth-child(5) .medal:after{
	content: "5";
	background: #885500;
}
input{
	box-sizing: border-box;
	width: 50px;
	text-align: center;
}
input[type=button]{
	width: 95%;
	background: orange;
	border-color: orange;
	border-radius: 3px;
	margin: 10px 5px 5px 5px;
}
th,td,tbody tr:last-child td{
	background: maroon;
}
tbody td{
	background: saddlebrown;
}
progress[value]{
	appearance: none;
	width: 100%;
}
progress[value]::-webkit-progress-bar{
    background: tan;
}
progress[value]::-webkit-progress-value{
    background: linear-gradient(to bottom, limegreen, green);
}
