<table cellspacing=0>
	<thead>
		<tr>
			<th>
				Total
			</th>
			<th colspan=2>
			</th>
			<th colspan=4>
				Max
			</th>
		</tr>
		<tr>
			<th>
				{{sum}}
			</th>
			<th colspan=2>
				/
			</th>
			<th colspan=4>
				<input type="number" [(ngModel)]="max" (change)="update()">
			</th>
		</tr>
		<tr>
			<th colspan=7>
				<progress value="{{sum}}" max="{{max}}"></progress>
			</th>
		</tr>
		<tr>
			<th colspan=2>
				Remaining
			</th>
			<th colspan=5>
				Points to lock
			</th>
		</tr>
		<tr>
			<th colspan=2>
				{{remaining}}
			</th>
			<th>
				1st
			</th>
			<th>
				2nd
			</th>
			<th>
				3rd
			</th>
			<th>
				4th
			</th>
			<th>
				5th
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let row of rows; let index = index">
			<td>
				<input type="number" [(ngModel)]="row.points" (change)="update()">
			</td>
			<td [class.medal]="index <= 4">
			</td>
			<td>
				{{row.toFirst}}
			</td>
			<td>
				{{row.toSecond}}
			</td>
			<td>
				{{row.toThird}}
			</td>
			<td>
				{{row.toFourth}}
			</td>
			<td>
				{{row.toFifth}}
			</td>
		</tr>
		<tr>
			<td>
				<input type="number" [(ngModel)]="host" (change)="update()">
			</td>
			<td>
				🏠
			</td>
			<td colspan=5>
				Host's Points
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan=7>
				<input type=button (click)="addRow()" value="Add row">
			</td>
		</tr>
	</tfoot>
</table>
