table{
	text-align: center;
	border-collapse: collapse;
}
td,th{
	box-sizing: border-box;
	min-width: 25px;
	min-height: 25px;
	border: 1px solid grey;
}
th:nth-child(1){
	width: 125px;
}
td:nth-child(n+3){
	width: 25px;
	height: 25px;
}
.medal{
	width: 25px;
	height: 25px;
	border-radius: 50%;
}
tbody tr:nth-child(1) td:nth-child(2){
	background: gold;
}
tbody tr:nth-child(2) td:nth-child(2){
	background: silver;
}
tbody tr:nth-child(3) td:nth-child(2){
	background: darkgoldenrod;
}
tbody tr:nth-child(4) td:nth-child(2){
	background: peru;
}
tbody tr:nth-child(5) td:nth-child(2){
	background: tan;
}
input{
	box-sizing: border-box;
	width: 125px;
	text-align: center;
}
input[type=button]{
	width: 100%;
}
