table{
	text-align: center;
}
td{
	box-sizing: border-box;
	min-width: 25px
}
tbody tr:nth-child(1) td:nth-child(2){
	background: gold;
}
tbody tr:nth-child(2) td:nth-child(2){
	background: silver;
}
tbody tr:nth-child(3) td:nth-child(2){
	background: brown;
}
